.login{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.7);
    position: fixed;
    top: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.login_card{
    width: 40%;
    height: 60%;
    margin-top: 100px;
    background-color: #000;
    box-sizing: border-box;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0.5px 0.5px 8px #fff; 
}
.titleCard_login{
    font-size: 32px;
    font-weight: 500;
    align-items: center;
    display: flex;
    gap: 10px;
}
.login_moviestubeImage{
    color: lightskyblue;
}
.loginCredentials{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 25px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.userNameLogin{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.userNameLoginUserName{
    width: 50%;
    height: 45px;
    color: #fff;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #222222;
}
.login_buttons{
    width: 60%;
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}
.login-btn{
    width: 25%;
    border: 1px solid;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    &:hover{
        color: #000;
        background-color: #fff;
    }
}